<a href="https://colab.research.google.com/github/danm00nster/zaliczenie_IDW/blob/main/Zaliczenie_IWD_Daniel_Kwiecinski.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Zadania zaliczenie IWD, Daniel Kwieciński gr II

Zadanie 1.

In [2]:
!git clone https://github.com/matzim95/ML-datasets

Cloning into 'ML-datasets'...
remote: Enumerating objects: 194, done.
remote: Counting objects: 100% (134/134), done.
remote: Compressing objects: 100% (110/110), done.
remote: Total 194 (delta 33), reused 124 (delta 24), pack-reused 60
Receiving objects: 100% (194/194), 35.45 MiB | 26.44 MiB/s, done.
Resolving deltas: 100% (45/45), done.

In [68]:
import pandas as pd
iris=pd.read_csv('ML-datasets/iris.csv')
print(iris)
print(iris.columns)
print('wszystkie wiersze, dwie pierwsze kolumny')
display(iris.iloc[0:,[0,1]])

print('statystyki opisowe')
kolumny=iris.columns[0:-1]
for col in kolumny:
  print(f'statystyki opisowe dla > {col} <')
  print(f'  średnia:  {iris[col].mean()}')
  print(f'  minimum:  {iris[col].min()}')
  print(f'  maksimum: {iris[col].max()}')
  print(f'  std:       {iris[col].std()}')

print('wartości 5 kolumny i wierszy od 3 do 5')
display(iris.iloc[2:5, [4]])

print('ostatni wiersz i dwie ostatnie kolumny')
display(iris.iloc[-1,[-2,-1]])

print('wartości dla kolumny sepal length > 3')
#wszystkie kolumny dla sepal length >3
display(iris[iris['sepal length'] >3])
#tylko kolumna sepal length z warunkiem >3
display(iris[iris['sepal length'] >3]['sepal length'])

     sepal length  sepal width  petal length  petal width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]
Index(['sepal length', 'sepal width', 'petal length', 'petal width',
       'species'],
      dtype='object')
wszystkie wiersze, dwie pierwsze kolumny

     sepal length  sepal width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

statystyki opisowe
statystyki opisowe dla > sepal length <
  średnia:  5.843333333333334
  minimum:  4.3
  maksimum: 7.9
  std:       0.828066127977863
statystyki opisowe dla > sepal width <
  średnia:  3.0573333333333337
  minimum:  2.0
  maksimum: 4.4
  std:       0.4358662849366982
statystyki opisowe dla > petal length <
  średnia:  3.7580000000000005
  minimum:  1.0
  maksimum: 6.9
  std:       1.7652982332594662
statystyki opisowe dla > petal width <
  średnia:  1.1993333333333336
  minimum:  0.1
  maksimum: 2.5
  std:       0.7622376689603465
wartości 5 kolumny i wierszy od 3 do 5

       species
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

ostatni wiersz i dwie ostatnie kolumny

petal width               1.8
species        Iris-virginica
Name: 149, dtype: object

wartości dla kolumny sepal length > 3

     sepal length  sepal width  petal length  petal width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length, Length: 150, dtype: float64